.App {
  text-align: center;
  width: 50%;
  margin: 1% auto;
}


.Header {
  background-color: #6ed3cf;
  align-items: center;
  justify-content: stretch;
  font-size: 2em;
  font-weight: bolder;
  color: cornsilk;
  text-shadow: 5px 5px 10px blueviolet;
  width: auto;
}

@media screen and (max-width: 650px) {
  
  .App {
    text-align: center;
    width: 100%;
  }
  
  
  .Header {
    background-color: #6ed3cf;
    align-items: center;
    justify-content: stretch;
    font-size: 2em;
    font-weight: bolder;
    color: cornsilk;
    text-shadow: 5px 5px 10px blueviolet;
    width: auto;
  }
}
